html, body {
    background-color: #F6F6F6;
}

@font-face {
    font-family: CherryCreamSoda;
    src: url(../fonts/CherryCreamSoda.ttf);
}

/************************
 CENTER THE CONTENT
 ************************/
.iw-outer-frame {
    display: table;
    position: absolute;
    height: 100%;
    width: 100%;
}

.iw-middle-frame {
    display: table-cell;
    vertical-align: middle;
}

.iw-content {
    margin-left: auto;
    margin-right: auto;
}

/************************
 HEADER
 ************************/
.iw-header {
    text-align: center;
}

.iw-header h2 {
    color: #333333;
    font-family: CherryCreamSoda;
    padding: 15px;
}

.iw-message {
    font-size: 12px;
    text-align: center;
}

/************************
 FORM
 ************************/
.form-colors label {
    color: #990100;
}

.form-colors a {
    color: #990100;
    padding-left: 10px;
    text-decoration: underline;
}

.form-colors a:hover {
    color: #990100;
    cursor: pointer;
}

/************************
 BACK BUTTON
 ************************/
.iw-back-button {
    margin-top: 10px;
}

/* redefine the boostrap container width */
.container {
    width: 300px;
}

/************************
 TABLE
 ************************/
.CSSTableGenerator {
    margin: 0px;
    padding: 0px;
    width: 100%;
    border: 1px solid #333333;

    -moz-border-radius-bottomleft: 0px;
    -webkit-border-bottom-left-radius: 0px;
    border-bottom-left-radius: 0px;

    -moz-border-radius-bottomright: 0px;
    -webkit-border-bottom-right-radius: 0px;
    border-bottom-right-radius: 0px;

    -moz-border-radius-topright: 0px;
    -webkit-border-top-right-radius: 0px;
    border-top-right-radius: 0px;

    -moz-border-radius-topleft: 0px;
    -webkit-border-top-left-radius: 0px;
    border-top-left-radius: 0px;
}

.CSSTableGenerator table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
}

.CSSTableGenerator tr:last-child td:last-child {
    -moz-border-radius-bottomright: 0px;
    -webkit-border-bottom-right-radius: 0px;
    border-bottom-right-radius: 0px;
}

.CSSTableGenerator table tr:first-child td:first-child {
    -moz-border-radius-topleft: 0px;
    -webkit-border-top-left-radius: 0px;
    border-top-left-radius: 0px;
}

.CSSTableGenerator table tr:first-child td:last-child {
    -moz-border-radius-topright: 0px;
    -webkit-border-top-right-radius: 0px;
    border-top-right-radius: 0px;
}

.CSSTableGenerator tr:last-child td:first-child {
    -moz-border-radius-bottomleft: 0px;
    -webkit-border-bottom-left-radius: 0px;
    border-bottom-left-radius: 0px;
}

.CSSTableGenerator tr:hover td {

}

.CSSTableGenerator tr:nth-child(odd) {
    background-color: #e8e8e8;
}

.CSSTableGenerator tr:nth-child(even) {
    background-color: #f6f6f6;
}

.CSSTableGenerator td {
    vertical-align: middle;

    border: 1px solid #333333;
    border-width: 0px 1px 1px 0px;
    text-align: left;
    padding: 7px;
    font-size: 10px;
    font-family: Arial;
    font-weight: normal;
    color: #000000;
}

.CSSTableGenerator tr:last-child td {
    border-width: 0px 1px 0px 0px;
}

.CSSTableGenerator tr td:last-child {
    border-width: 0px 0px 1px 0px;
}

.CSSTableGenerator tr:last-child td:last-child {
    border-width: 0px 0px 0px 0px;
}

.CSSTableGenerator tr:first-child td {
    background: -o-linear-gradient(bottom, #333333 5%, #333333 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #333333), color-stop(1, #333333));
    background: -moz-linear-gradient(center top, #333333 5%, #333333 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#333333", endColorstr="#333333");
    background: -o-linear-gradient(top, #333333, 333333);

    background-color: #333333;
    border: 0px solid #333333;
    text-align: center;
    border-width: 0px 0px 1px 1px;
    font-size: 14px;
    font-family: Arial;
    font-weight: bold;
    color: #ffffff;
}

.CSSTableGenerator tr:first-child:hover td {
    background: -o-linear-gradient(bottom, #333333 5%, #333333 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #333333), color-stop(1, #333333));
    background: -moz-linear-gradient(center top, #333333 5%, #333333 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#333333", endColorstr="#333333");
    background: -o-linear-gradient(top, #333333, 333333);

    background-color: #333333;
}

.CSSTableGenerator tr:first-child td:first-child {
    border-width: 0px 0px 1px 0px;
}

.CSSTableGenerator tr:first-child td:last-child {
    border-width: 0px 0px 1px 1px;
}
