html, body {
    background-color: #F6F6F6;
}

@font-face {
    font-family: CherryCreamSoda;
    src: url(../fonts/CherryCreamSoda.ttf);
}

/************************
 CENTER THE CONTENT
 ************************/
.iw-outer-frame {
    display: table;
    position: absolute;
    height: 100%;
    width: 100%;
}

.iw-middle-frame {
    display: table-cell;
    vertical-align: middle;
}

.iw-content {
    margin-left: auto;
    margin-right: auto;
}

/************************
 HEADER
 ************************/
.iw-header {
    text-align: center;
}

.iw-header h2 {
    color: #333333;
    font-family: CherryCreamSoda;
    padding: 15px;
}

.iw-header path {
    fill: #990100;
}

.iw-message {
    font-size: 12px;
    text-align: center;
}

/************************
 FORM
 ************************/
.iw-form-colors label {
    color: #990100;
}

.iw-form-colors a {
    color: #990100;
    padding-left: 10px;
    text-decoration: underline;
}

.iw-form-colors a:hover {
    color: #990100;
    cursor: pointer;
}

/************************
 BACK BUTTON
 ************************/
.iw-back-button {
    margin-top: 10px;
    padding-right: 14px;
    text-align: right;
}

/* redefine the boostrap container width */
.container {
    width: 300px;
}

/************************
 TABLE
 ************************/
table {
    border-collapse: collapse;
    font-family: Futura, Arial, sans-serif;
    border: 1px solid #990100;
    margin-left: auto;
    margin-right: auto;
}

caption {
    font-size: larger;
    margin: 1em auto;
    text-align: center;
    color: #333333;
}

th, td {
    padding: .65em;
}

th, thead {
    background: #990100;
    color: #F6F6F6;
    border: 1px solid #990100;
}

tr:nth-child(odd) {
    background: #ccc;
}

tr:hover {
    background: #B90504;
    color: #F6F6F6;
}

td {
    border-right: 1px solid #990100;
}
