html, body {
	background-color: #1D2124;
}

.form-colors label {
	color: orange;
}

.form-colors a {
	color: orange;
	padding-left: 10px;
	text-decoration: underline;
}

.form-colors a:hover {
	color: orange;
	cursor: pointer;
}

#success-div, #error-div, #authenticated {
	display: none;
}

#authenticated {
	text-align: center;
	margin-top: 30px;
}

/* redefine the boostrap container width */
.container {
	width: 300px;
}
